.title {
  text-align: center;
  font-size: 30vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(226, 226, 226);
}

body {
  align-items: center;
  display: block;
  background-color: rgb(110, 141, 167);
  height: auto;
}

input {
  width: 80%;
  height: 3vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 4vw;

  border: none;

  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25),
    inset 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.add {
  background-color: rgba(75, 202, 92, 0.377);
  display: block;
  margin: 0 auto;
  font-size: 4vw;
  width: 12vw;
  height: 100%;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
  color: white;
  padding: 10px;

  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25),
    inset 3px 3px 4px rgba(0, 0, 0, 0.25);
}

ul,
li {
  list-style: none;
  text-align: center;
  font-size: 3vw;
  margin: 0 auto;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(226, 226, 226);
  background-color: rgba(61, 61, 61, 0.171);
  text-align: center;
  border-radius: 15px;
  width: auto;
  padding-bottom: 10px;
  margin-left: -35px;
  font-size: 30px;
}

.inlineLi {
  display: inline;
  padding: 40px;
}

.bin {
  margin-bottom: -10px;
  margin-left: 20px;
  width: 35px;
  height: 35px;
  padding: 5px;
}

.work {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.x {
  width: auto;
  height: auto;
  display: inline;
  border: none;
  margin: 5px;
  padding: 0;
  background-color: rgba(255, 0, 0, 0);
}

.footer {
  width: 100%;
  bottom: 0vh;
  text-align: center;
  position: relative;
}
